.app-nav li ul {
    background-color: var(--background) !important;
}

.page_toc {
    border: 1px solid var(--borderColor);
    padding-right: 0.7%;
    padding-top: 0.7%;
}

.amrnth-img-box {
    border: 1px solid var(--borderColor);
    background-color: var(--background) !important;
    float: right;
    margin-left: 1%;
}

.amrnth-img-cap {
    color:var(--textColor);
    margin-left: 2%;
    margin-right: 2%;
}

.sidebar-toggle {
    background-color: var(--background) !important;
}